
  
  <h1><span>Welcome to {{title}}</span></h1>

  <div *ngFor="let item of Items;index as i">
    <!-- <div  ></div>
    <table><tr *ngFor="let price of Prices"><td>{{i}} {{item}}</td><td>{{Prices}}</td></tr></table> -->
  </div>

  <table border="1"> 
    <tr *ngFor = "let f of data">
      <td>{{f.ProductId}}</td>
      <td>{{f.ProductName}}</td>
      <td>{{f.ProductCode}}</td>
      <td>{{f.ProductDate}}</td>
      <td>{{f.ProductDescription}}</td>
    </tr>
  </table>
 
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

