
  
  <h1><span>Welcome to {{title}}</span></h1>

  <div *ngFor="let item of Items;index as i">
    <div *ngFor="let price of Prices" ></div>
    <table><tr><td>{{i}} {{item}}</td><td>{{Prices}}</td></tr></table>
  </div>
 
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

